@font-face {
    font-family: B-koodak;
    src: url(font/B\ Koodak\ Bold_0.ttf);
}
body {
    background-color: khaki;
    font-family: B-koodak;
}
.navbar {
    display: grid;
    grid-template-columns: 5fr repeat(4, 0.55fr) 0.1fr;
    background-color: floralwhite;
    margin: 5vw 15vw 5vw 15vw;
    border: solid black 5vw;
    border-radius: 1vw;
}
.title {
    padding-right: 2.5vw;
    align-content: center;
    text-decoration: none;
    color: black;
}
.menu {
    justify-self: center;
    align-content: center;
    font-size: large;
    text-decoration: none;
    color: black;
}